/* --------TODO-------- */
/* is it possible to do puzzle piece div boundaries? */

/* --------remove default styles-------- */
* {
    border: none;
    padding: 0;
    margin: 0;
    list-style: none;
}


/* custom properties */
:root {
    --PrimaryColor: rgb(24, 85, 69);
    --offWhiteColor: rgb(240, 240, 240);
    --audio: #d66fc8;
    --paper: #8b5ba7;
    --on-hold: #eca95d;
    --in-progress: #5dc3ec;
    --complete: #8cc98c;
    --box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.5);
}

/* page layout */
body {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    font-family: 'Roboto', sans-serif;
    button:hover {
        filter: brightness(90%);
    }   
}

/* ---------header--------- */
header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 15px 0 15px 15px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
header h1 {
    justify-self: start;
}

/* ---------main content--------- */
.main {
    background-color: var(--offWhiteColor);
}
.add-book {
    padding: 5px 0 15px 0;
    display: grid;
    justify-content: center;
}
.add-book button {
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: filter 0.2s ease-in-out;
}

/* CARD SPACE */
.card-space {
    display: grid;
    padding: 15px;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(4, 200px);
}
/* CARDS */
.card {
    background-color: white;
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding: 1px;
    border-radius: 5px;
    box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.5);
}
.remove-button {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.cover {
    background-color: var(--offWhiteColor);
    padding: 1px;
    display: grid;
    gap: 1px;
    grid-template-rows: 2fr 1fr;
    border-radius: 5px;
}
.title {
    padding: 1px;
    background-color: white;
    display: grid;
    align-items: center;
    border-radius: 5px;
}
.title h2 {
    text-align: center;
}
.author {
    padding: 1px;
    background-color: white;
    display: grid;
    align-items: center;
    border-radius: 5px;
}
.author h4 {
    text-align: center;
    font-weight: normal;
}
.info {
    display: grid;
    gap: 1px;
    padding: 1px;
    background-color: var(--offWhiteColor);
    grid-template-rows: 1fr 2fr;
    border-radius: 5px;
}
.length {
    background-color: white;
    border-radius: 5px;
    padding: 1px;
    display: grid;
    align-items: center;
}
.length p {
    text-align: center;
    font-size: .7rem;
}
.status {
    background-color: white;
    border-radius: 5px;
    padding: 1px;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 69px 69px;
}
.status p {
    text-align: center;
    font-size: .8rem;
}
.update-button {
    background-color: white;
    font-size: .8rem;
    padding: 2px;
    border-radius: 5px;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(130, 0, 236);
    transition: filter 0.2s ease-in-out;
    cursor: pointer;
}
/* status div radio buttons (populated by javascript) */
.status label {
    font-size: .8rem;
    justify-self: start;
}
.status input {
    font-size: .8rem;
    justify-self: end;
}

/* --ADD BOOK DIALOG-- */
#book-dialog {
    justify-self: center;
    align-self: center;
    width: 300px;
    height: 300px;

    border-radius: 20px;
    box-shadow: 0 0 50px 0 rgba(255, 255, 255, 0.589);
    border: none;
}
#book-dialog form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#book-dialog form h1 {
    padding-top: 10px;
    align-self: center;
}
#book-dialog label {
    padding: 0 10px 0 10px;
    font-weight: bold;
}
#checkboxes label {
    font-size: 12px;
}
form input {
    padding: 3px 0 3px 3px;
}
#checkboxes input {
    vertical-align: middle;
}
form input:focus {
    outline: 1px solid rgb(0, 190, 250);
    border-radius: 5px;
}
.submit-button {
    background-color: salmon;
    border-radius: 5px;
    align-self: center;
    height: 30px;
    width: 90px;
}
dialog::backdrop {
    background-color: rgba(39, 38, 38, 0.2);
    backdrop-filter: blur(2px);
}

/* --REMOVE BOOK DIALOG-- */
#remove-dialog {
    justify-self: center;
    align-self: center;
    width: 300px;
    height: 200px;
    border: 1rem solid rgb(140, 0, 255);
    box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
#remove-dialog form {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center;
    align-content: center;
}
#remove-dialog h1 {
    padding-top: 10px;
}
#remove-dialog p {
    text-align: center;
    padding-top: 30px;
    font-style: italic;
    font-size: 2rem;
}
.remove-dialog-buttons {
    display: flex;
    gap: 50px;
    justify-content: center;
}
.remove-dialog-buttons button {
    width: 75px;
    height: 35px;
    border-radius: 5px;
    transition: filter 0.2s ease-in-out;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.5);
    background-color: aqua;
}

/* ---------footer--------- */
footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.created-by {
    font-weight: bold;
    font-size: 1.5rem;
}