/* --------TODO-------- */
/* 1. fix the input boxes in the dialog popup */



/* remove default styles */
* {
    border: none;
    padding: 0;
    margin: 0;
    list-style: none;
}


/* custom properties */

:root {
    --PrimaryColor: rgb(24, 85, 69);
    --offWhiteColor: rgb(229, 237, 241);
}

/* page layout */

body {
    display: grid;
    grid-template-rows: 1fr 20fr 1fr;
    font-family: 'Roboto', sans-serif;   
}

/* ---------header--------- */

header {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* ---------main content--------- */

.add-book {
    background-color: var(--PrimaryColor);
    text-align: center;
}

.add-book button {
    height: 30px;
    width: 100px;
    margin-top: 10px;
    
}
/* ---------DIALOG--------- */
#book-dialog {
    justify-self: center;
    align-self: center;
    width: 300px;
    height: 300px;

    border-radius: 20px;
    box-shadow: 0 0 50px 0 rgba(255, 255, 255, 0.589);
    border: none;
}
#book-dialog form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#book-dialog form h1 {
    padding-top: 10px;
    align-self: center;
}
#book-dialog label {
    padding: 0 10px 0 10px;
    font-weight: bold;
}
#checkboxes label {
    font-size: 12px;
}
#checkboxes input {
    vertical-align: middle;
}
.submit-button {
    background-color: none;
    align-self: center;
    height: 30px;
    width: 90px;
}

/* add blur effect later? */
#book-dialog::backdrop {
    background-color: rgba(39, 38, 38, 0.5);
}


/* ---------footer--------- */

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}